| "

h1 За гремучую доблесть грядущих веков
| ":"
h4
	pre        Am                C
p За гремучую доблесть грядущих веков,
h4 
	pre      F             E  
p За высокое племя людей —
p Я лишился и чаши на пире отцов,
p И веселья, и чести своей.

p Мне на плечи кидается век-волкодав,
p Но не волк я по крови своей:
p Запихай меня лучше, как шапку, в рукав
p Жаркой шубы сибирских степей.

p Чтоб не видеть ни труса, ни хлипкой грязцы,
p Ни кровавых костей в колесе;
p Чтоб сияли всю ночь голубые песцы
p Мне в своей первобытной красе.

p Уведи меня в ночь, где течет Енисей
p И сосна до звёзды достает,
p Потому что не волк я по крови своей
p И меня только равный убьет.
| ","

h1 
| ":"

| ","

h1 
| ":"

| ","