html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

 /* HEADER */

.b-header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFE4DC;
}
.b-header .i-button {
  width: 80px;
  height: 80px;
  margin: 20px 10%;
  border-radius: 200px;
  position: relative;
  z-index: 10000;
  background-color: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 52px;
  color: #FFFFFF;
  cursor: pointer;
}
.b-header .i-button:hover, .b-header .i-button:active {
  background-color: #fff;
  color: #C4C4C4;
  -webkit-box-shadow: inset 0 0 0 2px #c4c4c4;
          box-shadow: inset 0 0 0 2px #c4c4c4;
}
.b-header .b-nav {
  width: 90%;
  height: auto;
  top: 130px;
  left: 10px;
  position: absolute;
  z-index: 100;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 0 10px #FFFAFA;
          box-shadow: 0 0 0 10px #FFFAFA;
  background: #FFFFFF;
}
.b-header .b-nav .b-container {
  height: 100%;
  width: 100%;
}
.b-header .b-nav .i-category {
  width: auto;
  height: 100px;
  padding-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #888888;
  cursor: pointer;
}
.b-header .b-nav .i-level:hover {
  background-color: #888888;
  color: #fff;
}
.b-header .b-nav .b-level {
  width: auto;
  height: 100%;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.b-header .b-nav .i-level {
  width: 50px;
  height: 100%;
  padding: 0 10px;
  -webkit-box-shadow: inset 0 0 1px #000;
          box-shadow: inset 0 0 1px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* MAIN */

.b-main {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #EEEEEE;
}
.b-main .b-nav {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.b-main .b-nav .i-nav_back, .b-main .b-nav .i-nav_next {
  width: 90px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background: #C4C4C4;
  cursor: pointer;
}
.b-main .b-nav .i-nav_back:hover, .b-main .b-nav .i-nav_next:hover {
  background-color: #888888;
}
.b-main .b-nav .b-container {
  width: 80%;
  height: 600px;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  overflow: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #000;
  color: white;
}
.b-main .b-nav .b-container .i-question {
  width: 100%;
  height: 100%;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  color: black;
}
.b-main .b-nav .b-container .i-answer {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 30px;
  font-size: 1.5rem;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  text-align: left;
  cursor: pointer;
  color: white;
}

/* FOOTER */

.b-footer {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFE4DC;
}
.b-footer .i-contact {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  margin: 0 20px;
  background-color: #c4c4c4;
  cursor: pointer;
}

/* COMPONENTS */

._show { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important;}
._mark {  background-color: #ccc !important;}

h1,h2,h3,h4,h5,h6,p{ padding: 0; width: 90%;}
h1{ width: 88%;margin: 10px; font-size: 2.5rem;}
h2{ width: 86%;margin: 8px; font-size: 2.3rem;}
h3{ width: 84%;margin: 6px; font-size: 2.1rem;}
h4{ width: 82%;margin: 4px; font-size: 1.9rem;}
h5{ width: 81%;margin: 3px; font-size: 1.8rem;}
h6{ width: 80%;margin: 2px; font-size: 1.7rem;}
p{ margin: 2px; width: 80%; font-size: 1.5rem;}

::-webkit-scrollbar {  /* 1 - скроллбар */  width: 0px;}
::-webkit-scrollbar-button { /* 2 - кнопка */}
::-webkit-scrollbar-track {  /* 3 - трек */}
::-webkit-scrollbar-track-piece {  /* 4 - видимая часть трека */}
::-webkit-scrollbar-thumb {  /* 5 - ползунок */}
::-webkit-scrollbar-corner {  /* 6 - уголок */}
::-webkit-resizer {  /* 7 - изменение размеров */}




@media screen and (max-width: 600px) {
	h1,h2,h3,h4,h5,h6,p{ padding: 0;}
	h1{ width: 88%;margin: 10px; font-size: 1.8rem;}
	h2{ width: 86%;margin: 8px; font-size: 1.6rem;}
	h3{ width: 84%;margin: 6px; font-size: 1.4rem;}
	h4{ width: 82%;margin: 4px; font-size: 1.2rem;}
	h5{ width: 81%;margin: 3px; font-size: 1rem;}
	h6{ width: 80%;margin: 2px; font-size: 0.8rem;}
	p{ margin: 2px; width: 80%; font-size: 0.6rem;}

  .b-header {
    height: 50px;
  }
  .b-header .i-button {
    width: 40px;
    height: 40px;
    margin: 10px 10%;
    font-size: 1.5em;
  }
  .b-header .b-nav {
    width: 100%;
    height: auto;
    top: 60px;
    left: 0;
    right: 0;
  }
  .b-header .b-nav .i-category {
    width: auto;
    height: 50px;
    font-size: 1.5rem;
  }
  .b-header .b-nav .i-level {
    width: 30px;
  }

  .b-main {
		height: 500px;
    position: relative;
		display: block;
		padding: 0px;
		margin-bottom: 100px !important;
  }
  .b-main .b-nav {
    width: 100%;
    height: 100%;
    position: relative;
		display: block;
  }
  .b-main .b-nav .i-nav_back, .b-main .b-nav .i-nav_next {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
  }
  .b-main .b-nav .b-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: relative;
		display: block;
	}
	.b-main .b-nav .b-container .i-question,
	.b-main .b-nav .b-container .i-answer {
		
    height: 100%;
    position: relative;
	}

  .b-footer {
    height: 50px;
  }
  .b-footer .i-contact {
    width: 40px;
    height: 40px;
  }
}

